.about-us {
    text-align: center;
    margin: 20px;
  }
  
  .about-us h1 {
    font-size: 2em;
    margin-bottom: 20px;
    font-family: 'Times New Roman', Times, serif;
  }
  
  .about-us h2 {
    font-size: 1em;
    margin-bottom: 20px;
    font-family: 'Courier New', Courier, monospace;
  }
  
  .about-us img {
    border-radius: 10px;
    margin-top: 50px;
  }
  