.about-us {
    text-align: center;
    margin: 20px;
  }
  
  .about-us h1 {
    font-size: 2em;
    margin-bottom: 20px;
  }
  
  .about-us h2 {
    font-size: 1.5em;
  }
  
  .about-us img {
    border-radius: 8px;
    margin-top: 20px;
  }
  